body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    background: #efefef;
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    position: relative;
    right: 3%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.operator {
    background-color: #f44336;
    color: white;
}

.operator:hover {
    background-color: #d32f2f;
}
